<form #form="ngForm" (ngSubmit)="onSubmit(form.value)" action="/search">
    <div class="search-form-wrapper">
        <div class="search-form-container">
            <div *ngIf="showScopeSelector" class="scope-selector-wrapper">
                <button class="scope-button btn btn-outline-secondary text-truncate"
                        [ngbTooltip]="dsoNameService.getName(selectedScope | async)" type="button"
                        (click)="openScopeModal()">
                  {{dsoNameService.getName(selectedScope | async) || ('search.form.scope.all' | translate)}}
                </button>
            </div>
            <div class="search-input-wrapper">
                <input type="text" [(ngModel)]="query" name="query" class="search-input"
                       [attr.aria-label]="searchPlaceholder" [attr.data-test]="'search-box' | dsBrowserOnly"
                       [placeholder]="searchPlaceholder">
                <button type="submit" class="search-button" [attr.data-test]="'search-button' | dsBrowserOnly">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>