<div class="hero-section">

  <!-- Header: Title and Subtitle -->
  <div class="hero-text text-start px-3 px-md-5">

<!--  <h3 class="hero-heading">தொல்குடி களஞ்சியம்: பழங்குடி மொழி மற்றும் பண்பாட்டு மின் ஆவண காப்பகம் <br> Tholkudi Kalanjiyam: Pzhangudi Mozhi matrum Panpattu Min Aavana Kappakam</h3>  -->

<h3>Tholkudi Archive: A Digital Repository of Tamil Nadu’s Tribal Languages and Cultures <br>
தொல்குடி களஞ்சியம்: தமிழ்நாட்டுப் பழங்குடி மொழி-பண்பாட்டு மின்னணு காப்பகம் </h3>

</div>

  <!-- Image Section -->
  <div class="background-image-container mt-3">
    <picture class="background-image">
      <!-- WebP source -->
      <source
        type="image/webp"
        srcset="
          assets/dspace/images/face_2000w.webp 2000w,
          assets/dspace/images/face_1200w.webp 1200w,
          assets/dspace/images/face_768w.webp 768w
        " />
      <!-- JPEG fallback -->
      <source
        type="image/jpeg"
        srcset="
          assets/dspace/images/face_2000w.jpg 2000w,
          assets/dspace/images/face_1200w.jpg 1200w,
          assets/dspace/images/face_768w.jpg 768w
        " />
      <img
        alt="Background Illustration"
        src="assets/dspace/images/face_1200w.jpg"
        loading="lazy"
        class="img-fluid w-100"
      />
    </picture>
  </div>

  

